* {
  margin: 0;
  padding: 0;
}

/* Trying out color schemes from https://www.canva.com/learn/100-color-combinations/. Using #02 Subdued & Professional. */

body {
  background: #EFEFEF;
  color: #2A3132; /* Shadow */
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  min-width: 450px;
}

header {
  height: auto;
  background-color: #C6D8E4;
  text-align: center;
  vertical-align: middle;
  height: 5em;

}

h1, h2, h3, h4, h5, h6 {
  color: #763626; /* Autumn Foliage */
}

h1 {
  font-size: 1.5em;
}

header h1 {
  font-size: 2em;
  color: #A43820; /* Red Clay */
  border-bottom: 2px solid currentColor;
  display: inline-block;
  line-height: 0.9;
}

.centered-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  margin: 0 auto;
}

section {
  text-align: center;
  background: #EFEFEF;
  margin: 0 auto;
  padding: 1em;
  margin-bottom: 1em;

}

a:link {
  color: #A43820; /* Red Clay */
}

a:hover, a:visited {
  color: #763626; /* Autumn Foliage */
}

section p {
  padding-top: .5em;
}

#toaes {
  padding-top: 1em;
}

#books img {
  /* Need some padding between images when there is more than one book. */
  /* padding: .5em; */
}

footer {
  /* background: #336B87; /1* Stone *1/ */
  /* background: #90AFC5; /1* Mist *1/ */
  /* background: #e0e0e0; */
  text-align: center;
  font-size: .85em;
}
