* {
  margin: 0;
  padding: 0;
}

/* Trying out color schemes from https://www.canva.com/learn/100-color-combinations/. Using #02 Subdued & Professional. */

body {
  background: #EFEFEF;
  color: #2A3132; /* Shadow */
  font-family: 'EB Garamond', serif;
  font-size: 20px;
}

header {
  height: auto;
  background-color: #C6D8E4;
  text-align: center;
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
  color: #763626; /* Autumn Foliage */
}

h1 {
  font-size: 1.5em;
}

header h1 {
  font-size: 2em;
  color: #A43820; /* Red Clay */
  margin: .5em;
  width: 180px;
}

.centered-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  margin: 0 auto;
}

section {
  text-align: center;
  background: #EFEFEF;
  margin: 0 auto;
  padding: 1em;
}

a:link {
  color: #A43820; /* Red Clay */
}

a:hover, a:visited {
  color: #763626; /* Autumn Foliage */
}

section p {
  padding-top: .5em;
}

#toaes {
  padding-top: 1em;
}

footer {
  text-align: center;
  font-size: .85em;
}

@media (min-width: 312px) {
  header h1 {
    width: 312px;
  }
}

@media (min-width: 470px) {
  header h1 {
    width: 430px;
  }
}

@media (min-width: 500px) {
  header h1 {
    width: 500px;
  }
}

